@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
/* font-family: 'Oleo Script', cursive; */
/* @import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap"); */
/* font-family: 'Boogaloo', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
/* font-family: 'Oswald', sans-serif; */

/* ============================== Desktop Version ============================== */
.historyPage {
  background-color: #242222;
}

.historyLayout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* height: 95%; */
  height: 60rem;
  width: 90%;
  margin: auto;
  color: #f5f5f5;
}

.historyHeader {
  color: #f5f5f5;
  font-family: "Oleo Script", cursive;
  font-size: 48pt;
  text-align: center;
  color: #efb1f2;
  margin-top: 65px;
}

.historyContent {
  text-align: center;
  height: 200px;
  width: 800px;
  display: block;
  margin: 75px auto auto auto;
  font-size: 14pt;
  font-family: "Oswald", sans-serif;
  line-height: 2;
}

.historyFlagLogo {
  height: 400px;
  width: 300px;
  display: block;
  margin: 600px auto 100px auto;
}

/* ============================== Mobile Version ============================== */
@media (max-width: 915px) {
  .historyPage {
    background-color: #242222;
  }

  .historyLayout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 85%;
    width: 380px;
    margin: auto;
    color: #f5f5f5;
  }

  .historyHeader {
    color: #efb1f2;
    font-family: "Oleo Script", cursive;
    font-size: 38pt;
    text-align: center;
  }

  .historyContent {
    text-align: center;
    height: 200px;
    width: 380px;
    display: block;
    margin: 75px auto 100px auto;
    font-size: 14pt;
    font-family: "Oswald", sans-serif;
    line-height: 2;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .historyFlagLogo {
    height: 400px;
    width: 300px;
    display: block;
    margin: 1150px auto 100px auto;
  }
}