@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

/* ============================== Desktop Version ============================== */
.rulesPage {
  background-color: #242222;
}

.rulesLayout {
  margin: 75px auto 200px auto;
  height: 135rem;
  width: 75rem;
  color: #f5f5f5;
}

.rulesHeader {
  color: #f5f5f5;
  font-family: "Oleo Script", cursive;
  font-size: 48pt;
  text-align: center;
  color: #efb1f2;
  margin-top: 100px;
}

.ruleSection {
  margin: 15px 0 50px 0;
}

.rulesName {
  display: flex;
  justify-content: flex-start;
  margin: 2rem auto 2rem 14rem;
}

.rulesList {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 650px;
  font-size: 12pt;
  font-family: "Oswald", sans-serif;
  line-height: 2;
}

.rulesList li {
  margin: 0.5rem;
}

/* ============================== Mobile Version ============================== */
@media (max-width: 915px) {
  .rulesPage {
    background-color: #242222;
  }

  .rulesLayout {
    margin: 75px auto auto auto;
    height: 195rem;
    width: 25rem;
    color: #f5f5f5;
  }

  .rulesHeader {
    color: #efb1f2;
    font-family: "Oleo Script", cursive;
    font-size: 38pt;
    text-align: center;
  }

  .rulesSection {
    margin: 15px 0 50px 0;
  }

  .rulesName {
    display: flex;
    justify-content: center;
    margin: auto auto 1rem auto;
  }

  .rulesList {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 380px;
    font-size: 12pt;
    font-family: "Oswald", sans-serif;
    line-height: 2;
  }

  .rulesList li {
    margin: 0.5rem;
  }
}