@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

/* ============================== Desktop Version ============================== */
.siteNavLayout {
  display: flex;
  justify-content: center;
  margin: 20px auto 50px auto;
}

.siteNavLink {
  color: #f5f5f5;
  font-family: "Oswald", sans-serif;
  font-size: 14pt;
}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 3rem;
  margin: 1rem auto auto 2.2rem;
}

.flagLogo {
  height: 60px;
  width: 60px;
}

/* ============================== Mobile Version ============================== */
@media (max-width: 915px) {
  .siteNavLayout {
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 3rem auto;
    background-color: #242222;
  }

  .siteNavLink {
    color: #f5f5f5;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
  }

  .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 3rem;
  }

  .flagLogo {
    position: absolute;
    margin-top: 2.5rem;
    margin-right: 1rem;
    height: 3.5rem;
    width: 3rem;
  }
}